<%- include("header") -%>
<body>
  <input id="text-area" type="text" />

  <button id="start-record">Record Audio</button>
  <button id="stop-record">Stop Recording</button>
  <button>Add</button>

  <script src="js/index.js"></script>
</body>
