* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 30px;
}
ul {
  list-style: none;
  text-align: center;
  margin-top: 30px;
}

li {
  position: relative;
}
.fas {
  position: absolute;
  right: 0;
  top: 5%;
  margin-left: 20px;
}
.container-fluid {
  width: 50%;
  margin: 0 auto;
}
.saved-notes {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.note-content {
  text-align: left;
  width: 90%;
  height: 100%;
  word-wrap: break-word;
}

#text-area {
  width: 80%;
  height: 150px;
  padding: 10px;
  display: block;
  margin: 40px auto 10px;
}

.button__wrapper {
  margin: 20px 0 40px;
  text-align: center;
}
