body {
  background-color: rgb(5, 5, 48);
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
}

.container__1 {
  width: 50%;
  margin-right: 20px;
}

li {
  list-style: decimal;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.saved-notes {
  width: 50%;
}

.delete {
  text-align: center;
}
.btn-listen {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: brown;
  margin-right: 20px;
}
.btn-listen:hover {
  color: brown;
}
textarea {
  padding: 5px;
  width: 70%;
  height: 140px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

button {
  cursor: pointer;
  padding: 8px;
  margin: 0 5px;
  background: transparent;
  color: aqua;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  border: 1px solid white;
  border-radius: 5px;
}
button:hover {
  color: white;
}
